@import "tailwindcss";

:root {
  --background: #f2f2f2;
  --foreground: #171717;
  --accent: #dc503c;
  --dark: #00143c;
  --secondary: #081b33
}

@theme inline {
  --font-sans: var(--font-futura), ui-sans-serif, system-ui, sans-serif;
  --font-serif: var(--font-calluna), ui-serif, Georgia, serif;
  
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-dark: var(--dark);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-serif); 
}

nav, .font-futura {
  font-family: var(--font-sans);
}